fin-intel-backend/n8n/document-ingestion-workflow.json
{
  "name": "FinIntel — Document Ingestion Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fin-intel-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-trigger",
      "name": "Webhook: Receive from Backend",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "notes": "Backend calls this when a user uploads a PDF. Body contains: documentId, orgId, signedUrl, title, docType, companyId"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true, \"documentId\": \"{{ $json.body.documentId }}\" }",
        "options": {}
      },
      "id": "node-ack",
      "name": "Respond: Acknowledge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [480, 160],
      "notes": "Immediately ACK the backend so it doesn't time out. Ingestion continues async below."
    },
    {
      "parameters": {
        "url": "={{ $('Webhook: Receive from Backend').item.json.body.signedUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "node-download-pdf",
      "name": "HTTP Request: Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "notes": "Downloads the PDF from Supabase Storage using the signed URL provided by the backend."
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "splitPages": "byPage"
        }
      },
      "id": "node-loader",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [720, 480],
      "notes": "Loads PDF binary and extracts text page by page."
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "node-splitter",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [720, 640],
      "notes": "~500 tokens at ~4 chars/token with 200-char overlap. Matches backend chunker logic."
    },
    {
      "parameters": {
        "modelName": "text-embedding-004",
        "options": {}
      },
      "id": "node-embeddings",
      "name": "Embeddings: Gemini text-embedding-004",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [960, 640],
      "credentials": {
        "googlePalmApi": {
          "name": "Google Gemini API"
        }
      },
      "notes": "768-dimensional embeddings. MUST match the vector(768) column in document_chunks."
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "document_chunks",
          "mode": "list"
        },
        "options": {
          "queryName": "search_document_chunks",
          "metadataColumns": [
            {
              "column": "document_id",
              "value": "={{ $('Webhook: Receive from Backend').item.json.body.documentId }}"
            },
            {
              "column": "org_id",
              "value": "={{ $('Webhook: Receive from Backend').item.json.body.orgId }}"
            },
            {
              "column": "page_number",
              "value": "={{ $json.metadata?.loc?.pageNumber ?? 1 }}"
            }
          ]
        }
      },
      "id": "node-vector-store",
      "name": "Supabase Vector Store: Insert Chunks",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [720, 300],
      "credentials": {
        "supabaseApi": {
          "name": "Supabase account"
        }
      },
      "notes": "Inserts chunks into document_chunks table with document_id, org_id, page_number metadata."
    },
    {
      "parameters": {
        "jsCode": "// Collect stats from all inserted chunks\nconst items = $input.all();\nconst webhookData = $('Webhook: Receive from Backend').first().json.body;\n\n// Count unique pages from chunk metadata\nconst pages = new Set(items.map(i => i.json?.metadata?.loc?.pageNumber ?? 1));\n\nreturn [{\n  json: {\n    documentId: webhookData.documentId,\n    orgId: webhookData.orgId,\n    totalChunks: items.length,\n    totalPages: pages.size,\n    durationMs: Date.now() - new Date($('Webhook: Receive from Backend').first().json.headers?.['x-ingestion-start'] ?? Date.now()).getTime()\n  }\n}];"
      },
      "id": "node-build-stats",
      "name": "Code: Build Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "notes": "Aggregates chunk count and page count to send back to the backend callback."
    },
    {
      "parameters": {
        "url": "=https://unlovable-target-dominoes.ngrok-free.dev/api/v1/documents/{{ $json.documentId }}/ingestion-complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Callback-Secret", "value": "8b096c59121a2cd2b774abfabbf73afd332ed532663dc793e477d88e44608174" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "orgId", "value": "={{ $json.orgId }}" },
            { "name": "totalPages", "value": "={{ $json.totalPages }}" },
            { "name": "totalChunks", "value": "={{ $json.totalChunks }}" },
            { "name": "durationMs", "value": "={{ $json.durationMs }}" }
          ]
        },
        "options": {}
      },
      "id": "node-callback-success",
      "name": "HTTP Request: Callback Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "notes": "Calls backend to mark document as ready. Uses N8N_CALLBACK_SECRET env var for auth."
    },
    {
      "parameters": {
        "jsCode": "// Build error payload\nconst webhookData = $('Webhook: Receive from Backend').first().json.body;\nconst error = $input.first()?.json?.error ?? 'Unknown ingestion error';\n\nreturn [{\n  json: {\n    documentId: webhookData.documentId,\n    orgId: webhookData.orgId,\n    errorMessage: String(error)\n  }\n}];"
      },
      "id": "node-build-error",
      "name": "Code: Build Error Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 500]
    },
    {
      "parameters": {
        "url": "=https://unlovable-target-dominoes.ngrok-free.dev/api/v1/documents/{{ $json.documentId }}/ingestion-failed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Callback-Secret", "value": "8b096c59121a2cd2b774abfabbf73afd332ed532663dc793e477d88e44608174" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "orgId", "value": "={{ $json.orgId }}" },
            { "name": "errorMessage", "value": "={{ $json.errorMessage }}" }
          ]
        },
        "options": {}
      },
      "id": "node-callback-failed",
      "name": "HTTP Request: Callback Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 500]
    }
  ],
  "connections": {
    "Webhook: Receive from Backend": {
      "main": [
        [
          { "node": "Respond: Acknowledge", "type": "main", "index": 0 },
          { "node": "HTTP Request: Download PDF", "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP Request: Download PDF": {
      "main": [
        [{ "node": "Supabase Vector Store: Insert Chunks", "type": "main", "index": 0 }]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [{ "node": "Supabase Vector Store: Insert Chunks", "type": "ai_document", "index": 0 }]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [{ "node": "Default Data Loader", "type": "ai_textSplitter", "index": 0 }]
      ]
    },
    "Embeddings: Gemini text-embedding-004": {
      "ai_embedding": [
        [{ "node": "Supabase Vector Store: Insert Chunks", "type": "ai_embedding", "index": 0 }]
      ]
    },
    "Supabase Vector Store: Insert Chunks": {
      "main": [
        [{ "node": "Code: Build Stats", "type": "main", "index": 0 }]
      ]
    },
    "Code: Build Stats": {
      "main": [
        [{ "node": "HTTP Request: Callback Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "fin-intel-error-handler"
  },
  "meta": {
    "description": "FinIntel document ingestion pipeline. Triggered by backend webhook after PDF upload. Downloads PDF from Supabase Storage, chunks with Character Text Splitter, embeds with Gemini text-embedding-004 (768 dims), stores in pgvector, then callbacks backend to mark document ready."
  }
}
