backend/n8n/document-ingestion-workflow.json
{
  "name": "FinIntel — Document Ingestion Pipeline",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "search_document_chunks"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        400,
        0
      ],
      "id": "625bdf9b-7b86-41a2-8713-087a1cec2647",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "3jHKONoWzd8Jj2gu",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        208
      ],
      "id": "b71ed62d-bfe3-4af2-acde-fb56913bee3b",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "LWsVfXBeMi6tLauA",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.documentPdfDataLoader",
      "typeVersion": 1,
      "position": [
        352,
        208
      ],
      "id": "dd4f229a-a285-4d15-b0f3-6b1b85fe0fc1",
      "name": "PDF Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 1000,
        "chunkOverlap": 200
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        352,
        380
      ],
      "id": "node-text-splitter",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "url": "=https://unlovable-target-dominoes.ngrok-free.dev/api/v1/documents/{{ $json.documentId }}/ingestion-complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Callback-Secret",
              "value": "8b096c59121a2cd2b774abfabbf73afd332ed532663dc793e477d88e44608174"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "orgId",
              "value": "={{ $json.orgId }}"
            },
            {
              "name": "totalPages",
              "value": "={{ $json.totalPages }}"
            },
            {
              "name": "totalChunks",
              "value": "={{ $json.totalChunks }}"
            },
            {
              "name": "durationMs",
              "value": "={{ $json.durationMs }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        0
      ],
      "id": "0ea08d80-0217-4214-bb41-2d6ac18582aa",
      "name": "HTTP Request: Callback Success"
    },
    {
      "parameters": {
        "jsCode": "// Collect stats from all inserted chunks\nconst items = $input.all();\nconst webhookData = $('Webhook: Receive from Backend').first().json.body;\n\n// Count unique pages from chunk metadata\nconst pages = new Set(items.map(i => i.json?.metadata?.loc?.pageNumber ?? 1));\n\nreturn [{\n  json: {\n    documentId: webhookData.documentId,\n    orgId: webhookData.orgId,\n    totalChunks: items.length,\n    totalPages: pages.size,\n    durationMs: Date.now() - new Date($('Webhook: Receive from Backend').first().json.headers?.['x-ingestion-start'] ?? Date.now()).getTime()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        0
      ],
      "id": "3745b8fe-96d1-4c8c-917a-8cd418367a8d",
      "name": "Code: Build Stats"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook: Receive from Backend').item.json.body.signedUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "34399a3a-d92c-4c28-8def-80b1d6565e86",
      "name": "HTTP Request: Download PDF"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fin-intel-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c18d7493-36d1-4e02-93a6-1fa4aeef67f0",
      "name": "Webhook: Receive from Backend",
      "webhookId": "475e14a3-ec92-4c29-9d5a-680c12d5c8ad"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"received\": true, \"documentId\": \"{{ $json.body.documentId }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        208,
        -192
      ],
      "id": "61f82cb6-2cb5-4765-9dbf-66369bbd72f4",
      "name": "Respond: Acknowledge"
    }
  ],
  "connections": {
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Code: Build Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "PDF Data Loader": {
      "ai_document": [
        [
          {
            "node": "Recursive Character Text Splitter",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Stats": {
      "main": [
        [
          {
            "node": "HTTP Request: Callback Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Download PDF": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Receive from Backend": {
      "main": [
        [
          {
            "node": "HTTP Request: Download PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond: Acknowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a8c53f61eedd179cceb44f6c51ab525334129b2e8035266c4eac48b4f94ee93"
  }
}
